@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: Poppins, sans-serif;
}

.home-background {
  background: linear-gradient(135deg, #ffffff, #d9fff8);
}

.auth-background {
  background: linear-gradient(145deg, #4c9f6fb6, #e9eefa);
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.my-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track background */
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Thumb color */
  border-radius: 20px;
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #82b197; /* Thumb hover color */
}

.clip-left {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-right {
  overflow: hidden;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.gradient-text {
  background: linear-gradient(to right, #9ac7ff, #153db3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
