@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: Poppins, sans-serif;
}

input {
  padding: 8px;
  outline: none;
  background-color: rgb(241, 245, 249);
  border-bottom-width: 2px;
  border-color: #2ecc7180;
}

.home-background {
  background: linear-gradient(175deg, #ffffff, #abfdd3b6);
}

.product-background {
  background: linear-gradient(135deg, #ffffff69, #9bffc3d8);
}

.category-background {
  background: linear-gradient(135deg, #e1baba85, #9bffc3d8);
}

.auth-background {
  background: linear-gradient(145deg, #4c9f6fb6, #e9eefa);
}

.sidenav-background {
  background: linear-gradient(to right, #3ef88bbc, #ffffff6b);
  transition: all 0.5s ease-in-out;
  opacity: 1; /* Initial state */
  transform: translateY(0);
}

body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #5a6063; /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  margin: 1px;
  background-color: #b5c5bcb9; /* Color of the scrollbar thumb */
  border-radius: 20px; /* Rounded corners on the thumb */
  /* border: 3px solid #f0f0f0; */ /* Space around the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #82b197; /* Thumb hover color */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.my-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track background */
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Thumb color */
  border-radius: 20px;
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #82b197; /* Thumb hover color */
}

.clip-left {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-right {
  overflow: hidden;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.gradient-text {
  background: linear-gradient(to right, #9ac7ff, #153db3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes borderSpread {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.border-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #3ef88bbc;
  animation: borderSpread 0.2s ease-in-out;
}

.border-inactive::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}
